# Python
__pycache__/
*.pyc

# Dataset
dataset/

# Model checkpoints
checkpoints/
*.pth

# Logs
logs/

# Experiment outputs
results/
test_results/
result.txt

# IDE
.idea/
.vscode/

# macOS
.DS_Store

